.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  box-sizing: border-box;
  margin-top: 0px;
  width: 100%;
  justify-content: center;
  padding: .15em;
  margin-bottom: 2em;
  background-image: url('./pictures/header.jpg');
}

.footer {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: .15em;
  background-image: url('./pictures/header.jpg');
  clear: both;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.navbar-button {
  display: inline-block;
  font-size: 19pt;
  font-weight: bold;
  border: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: transparent;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
}

.footer ul li {
  display: inline;
  padding-right: 1em;
}

.name {
  font-size: 8em;
  font-family: "Courier New", Courier, monospace;
}

.about-myself-box {
  float: left;
  text-align: left;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  width: 45%;
  padding-bottom: 75px;
  margin-left: 50px;
  margin-top: 75px;
  background-color: white;
  margin-right: 35px;
}

.about-me-description {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.about-me-title {
  padding-top: 20px;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 55px;
}

.profile-pic {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  height: 300px;
  width: 225px;
}

.slideshow {
  padding-top: 75px;
  padding-right: 50px;
}

.skills {
  text-align: center;
}

.skills-title {
  font-family: "Lucida Console", Monaco, monospace;
}

.skills-list {
  display: inline;
}

.video {
  display: block; 
	width: auto; 
	margin: 0 auto;  
}

.slide {
  height: 475px;
  width: 800px;
}

.skills-list .ruby-btn {
  display: inline-block;
  padding-right: 100px;
}

.skills-list .rails-btn {
  display: inline-block;
  padding-right: 100px;
}

.skills-list .react-btn {
  display: inline-block;
  padding-right: 100px;
}

.skills-list .javascript-btn {
  display: inline-block;
  padding-right: 100px;
}

.skills-list .html-btn {
  display: inline-block;
  padding-right: 100px;
}

.skills-list .css-btn {
  display: inline-block;
}

.projects-title {
  font-family: "Lucida Console", Monaco, monospace;
}

.iq-card-memory-game {
  display: inline-block;
  border-style: solid;
  border-radius: 8px;
  background-color: white;
  width: 45%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-right: 40px;
}

.aim-game {
  display: inline-block;
  border-style: solid;
  border-radius: 8px;
  background-color: white;
  width: 45%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 40px;
}

.home-remedy-website {
  display: inline-block;
  border-style: solid;
  border-radius: 8px;
  background-color: white;
  width: 45%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-right: 40px;
}

.online-marketplace-listings {
  display: inline-block;
  border-style: solid;
  border-radius: 8px;
  background-color: white;
  width: 45%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-left: 40px;
}

.second-two-projects {
  margin-top: 50px;
}

.empty {
  clear: both;
}

.hiking-spots {
  text-align: center;
  margin-bottom: 50px;
  border-style: solid;
  border-radius: 8px;
  background-color: white;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 50px;
}

.github-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-bottom: 25px;
}

.footer-github-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  width: 10%;
  padding-bottom: 10px;
}

.footer-linkedin-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-bottom: 10px;
}

.projects-list {
  position: absolute;
  background: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
  width: 250px; 
  height: 150px;
}

.projects-list:before{
  content: "";
  position: absolute;
  left: 50px;
  top:-30px;
  border: solid 15px transparent;
  border-bottom-color: #FFF;
}






