.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*adds a margin between the header and the harrisburg-skyline*/
.header {
  margin-bottom: 3.5em;
}

/*
  fixed position so the header moves down the page as well as setting the z-index to 1
  so the header appears in fromt of all other elements
*/
.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-image: url('./pictures/divider.png');
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*keeps footer at the bottom of the page*/
.footer {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: .15em;
  background-image: url('./pictures/header.png');
  clear: both;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/*display the navbar buttons in a horizontal line*/
.navbar-button {
  display: inline-block;
  font-size: 19pt;
  font-weight: bold;
  border: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: transparent;
  padding-left: 3em;
  padding-right: 3em;
  outline: none;
}

/*display contact info a horizontal line*/
.footer ul li {
  display: inline;
  padding-right: 1em;
}

.name {
  padding-top: .25em;
  color: #8B4513;
  font-size: 8em;
  font-family: "Courier New", Courier, monospace;
  background-image: url('./pictures/header.png');
}

.about-myself-box {
  text-align: left;
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
}

/*makes the paragraph double spaced*/
.about-me-description {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin-left: 4em;
  margin-top: 1em;
  line-height: 2;
}

.about-me-title {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 55px;
  margin-left: 1em;
  width: 50%;
}

.divider {
  background-image: url('./pictures/divider.png');
  height: 100px;
}

.profile-pic {
  float: right;
  margin-left: 4em;
  margin-right: 6em;
  height: 375px;
  width: auto;
}

.slideshow-container {
  margin-left: 40px;
  margin-right: 40px;
}

#experience-title {
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 1em;
  width: 50%;
}

#rim-title {
  font-size: 35px;
  margin-left: 1em;
}

#rim {
  float: right;
  margin-right: 20em;
  height: 250px;
  width: auto;
}

.job-duties {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin-left: 4em;
  margin-top: 1em;
  line-height: 2;
}

.skills {
  text-align: center;
  margin-top: 100px;
}

.skills-list {
  margin-bottom: 100px;
}

.skills-title {
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
}

.react-player {
  float: left;
	width: auto; 
  margin: 0 auto;
}

.video-wrapper {
  float: left;
  width: 640px;
  height: 360px;
  margin-left: 100px;
  margin-right: 50px;
}

.project-description {
  font-family: "Times New Roman", Times, serif;
  font-size: 26.4px;
  padding-right: 100px;
}

.github-btn {
  padding-right: 5%;
}

.github-logo-img {
  display: block;
  height: 100px;
  width: auto;
}

.skills-btn-divider {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px; 
}

.skills-btn {
  padding: 0px;
}

.skills-img {
  display: block;
  height: 150px;
  width: auto;
}

.skills-project-list {
  text-align: left;
}

/*highlights box around particular skill when mouse hovers over*/
.skills-btn:hover .skills-img {
  box-shadow: 0 0 0 1px black;
}

/*highlights box around github link when mouse hovers over*/
.skills-btn:hover .github-logo-img {
  box-shadow: 0 0 0 1px black;
}

.projects-title {
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
}

.project-title {
  padding-right: 5%;
  font-size: 30px;
}

.projects {
  margin-bottom: 75px;
}

/*makes footer images a circle*/
.footer-img {
  display: block;
  height: 100px;
  width: auto;
  border-radius: 50%;
}

/*makes footer button a circle*/
.footer-btn {
  padding: 0px;
  border-radius: 50%;
}

.footer-github-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  width: 10%;
  padding-bottom: 10px;
}

.footer-linkedin-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-bottom: 10px;
}

/*highlights circle around footer image when mouse hovers over*/
.footer-btn:hover .footer-img {
  box-shadow: 0 0 0 3px black;
}

.footer ul li {
  font-size: 30px;
}

/*creates project list box*/
.projects-list {
  position: absolute;
  background: #FFA07A;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
  width: 250px; 
  height: 150px;
}

.hidden {
  display: none;
}

/*adds small arrow to project list box*/
.projects-list:before{
  content: "";
  position: absolute;
  left: 50px;
  top:-30px;
  border: solid 15px transparent;
  border-bottom-color: #FFA07A;
}

/*adds background images to skyline component*/
.harrisburg-skyline {
  background-image: url('./pictures/harrisburg-skyline.jpg');
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
}

/*creates typewrite animation*/
.typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
               position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 435%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
}

/*sets length of typewriter animation*/
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*adjust positioning on name for tablets and small laptop screens*/
@media only screen and (max-width: 1400px) and (min-width: 601px) {
  .name {
    padding-top: 100px;
  }
}

/*CSS rules for mobile devices*/
@media only screen and (max-width: 600px) {
  /*makes font size smaller for typewriter effect on mobile*/
  .typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
               position: relative;
    top: 50%;  
    width: 1px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 125%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
  }

  @keyframes typewriter{
    from{width: 0;}
    to{width: 15em;}
  }

  /*adjust height of skyline*/
  .harrisburg-skyline {
    background-image: url('./pictures/harrisburg-skyline.jpg');
    background-repeat: no-repeat;
    height: 100px;
    width: auto;
    background-size: cover;
  }

  /*adjusting padding so name is visible*/
  .name {
    padding-top: 1.25em;
    color: #8B4513;
    font-size: 5em;
    font-family: "Courier New", Courier, monospace;
    background-image: url('./pictures/header.png');
  }

  /*making navbar top item so it goes over top the slideshow on mobile*/
  .navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-image: url('./pictures/divider.png');
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  /*making font size smaller for buttons*/
  .navbar-button {
    display: inline-block;
    font-size: 10pt;
    font-weight: bold;
    border: 0;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
    background: transparent;
    padding: 10pt;
    outline: none;
  }

  .about-myself-box {
    text-align: center;
  }

  /*adjust margins on sides to fit on mobile*/
  .slideshow-container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .footer ul li {
    font-size: 100%;
  }

  .header {
    margin-bottom: 1em;
  }

  /*making divider smaller*/
  .divider {
    background-image: url('./pictures/divider.png');
    height: 85px;
  }

  .about-me-title {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 3em;
    margin-left: 0px;
  }

  .about-me-description {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 125%;
    line-height: 2;
    margin-left: 0px;
    margin-top: 0px;
  }

  /*removing float so everything appears in a vertical line*/
  .profile-pic {
    float: none;
    display: inline-block;
    height: 375px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
  }

  .footer-github-btn {
    display: inline-block;
    padding-right: 100px;
    padding-bottom: 10px;
  }
  
  .footer-linkedin-btn {
    display: inline;
    padding-bottom: 10px;
  }

  .slideshow-container {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .project-title {
    padding-right: 0;
    font-size: 125%;
  }

  /*adjust size of videos to fit mobile*/
  .video-wrapper {
    float: none;
    position: relative;
    width: 300px;
    height: 176px;
    margin: auto;
  }

  .react-player {
    float: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0; 
    padding-right: 0;
  }

  .react-player > div {
    position: absolute;
  }

  .project-description {
    font-family: "Times New Roman", Times, serif;
    font-size: 125%;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .projects {
    margin-bottom: 10px;
  }

  .skills-img {
    display: block;
    height: 150px;
    width: auto;
  }

  .skills-btn {
    padding: 0px;
    background-color: transparent;
    -webkit-appearance: none;
    border-radius: 0;
  }

  .github-btn {
    padding-right: 0;
  }
}